@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition-duration: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

.container {
  background-image: linear-gradient(to bottom, #3e3c3c 90%, transparent);
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 0 15%;
  align-items: center;
  margin: auto;
}

.logo {
  color: white;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  padding: 10px 12px;
  width: 101px;
  height: 44px;
}

.logo:hover {
  transform: scale(1.05);
}

.menu {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.menupartdesktop {
  display: none;
}

.menupartlogo img:hover {
  transform: scale(1.1);
}

.menupartdesktop a {
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.active a {
 
}

.active .menupartdesktop{
  display: block;
  position: absolute;
  background-color: #212121;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 0 15%;

}

main {
  background-color: white;
  background-image: linear-gradient(to right, black , rgb(57, 1, 57) 10%, rgb(50, 43, 70), rgb(111, 148, 213), white 110%);
}

.headline {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 120px 35px;
  gap: 12px;
  height: 590px;
  background-image: url(images/pexels-photo-2091399.webp);
  background-repeat: no-repeat;
  background-position: 500% 50%;
  background-size: 90%;
}

.headlinetitle {
  color: white;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  width: 327px;
  margin: auto;
}

.subtitle {
  color: #fff5e1;
  padding-bottom: 10px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  width: 327px;
  margin: auto;
}

.headline p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  width: 327px;
  margin: auto;
}

.icons {
  padding: 0;
  height: 40px;
  width: 327px;
  margin: auto;
  margin-top: 25px;
}

.icons a {
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.workssectionbody {
  background-image: linear-gradient(to bottom, black 0%, transparent 30%, black 100%);
  
}

.worksstart {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  padding-top: 120px;
  padding-bottom: 75px;
  gap: 20px;
}

.workstitle {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #212121;
  margin: auto;
}

.worksstart .border {
  width: 327px;
  height: 0;
  border-bottom: 1px solid #ffffff;
  margin: auto;
}

.firstproject {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  padding: 0 25px;
  width: 375px;
  margin: auto;
}

.firstprojectpicture {
  background-color: black;
  background-image: url(images/neonpicturefirstproject.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 10px;
  height: 237px;
  width: 327px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.219);
  box-shadow:
  0 0 2px #fff,
  0 0 10px #3cb9fc;
}

.firstprojectpicture:hover {
  transform: scale(1.03);
}

.firstproject h2 {
  color: white;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding: 10px 0;
}

.firstproject p {
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
}

.skillsused2 li {
  display: inline;
  width: 295px;
  color: white;
  border: 1px solid #8993a4;
  background-color: rgba(0, 0, 0, 0.359);
  padding: 5px 10px;
  margin-right: 3px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.firstbuttom {
  background: #8a2be2;
  color: white;
  width: 124px;
  height: 48px;
  margin: 20px 0;
  border: 2px solid #8a2be2;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  box-shadow:
    0 0 4px #ffffff74,
    0 0 14px #ffffff74,
    0 0 24px #8a2be2,
    0 0 40px #8a2be2;
  transition-duration: 0.1s;
}

.firstbuttom:hover {
  transition-duration: 0.1s;
  background-color: white;
  color: #8a2be2;
  transform: scale(1.03);
  box-shadow:
    0 0 7px #8a2be2,
    0 0 42px #8a2be2;
}

.firstbuttom:active {
  background-color: #8a2be2;
  transform: scale(0.9);
  border: 2px solid #8a2be2;
  color: white;
  box-shadow:
    0 0 7px #8a2be2,
    0 0 42px #8a2be2;
}

.firstbuttom:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.worksprojects {
  width: 327px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  gap: 24px;
  height: 100%;
  padding-bottom: 150px;
  background-color: transparent;
  justify-items: center;
}

.projects {
  display: flex;
  flex-direction: column-reverse;
  width: 327px;
  height: 386px;
  background-image: url(images/backgroundprojects.png);
  border-radius: 5px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.219);
  transition-duration: 1s;
  box-shadow:
  0 0 2px #fff,
  0 0 10px #3cb9fc;
}

.projects h2 {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin: 0 25px;
}

.projects:hover {
  transform: scale(1.05);
}

.skills h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects h2:hover {
  color: #8a2be2;
}

.buttons {
  width: 327px;
  background-image: radial-gradient(circle at 50%, #120052 10%, black);
  border: none;
  margin-top: 35px;
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 20px 0;
  border-radius: 5px;
  border-bottom-right-radius: 50px;
}

.buttons:hover {
  background-color: #fff5e1;
  background-image: radial-gradient(circle at 50%, #8a2be2, black);
  transition-duration: 1s;
}

.buttons:active {
  background-color: #8a2be2;
  color: white;
}

.buttons:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.projects p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin: 20px 25px;
}

.skillsused {
  margin: 0 15px;
}

.skillsused li {
  width: 295px;
  background-color: rgba(128, 128, 128, 0.637);
  color: white;
  padding: 15px;
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: inline;
}

.skillsused2 li:hover {
  background-color: #892be258;
}

.aboutme {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: black;
  color: white;
  background-image: url(images/pexels-sebastiaan-stam-1482480.jpg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 200% 100%;
}

.aboutmestuff {
  width: 327px;
  margin: auto;
}

.ulabout {
  padding-bottom: 50px;
}

.aboutme h1 {
  color: white;
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.aboutme p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 20px;
}

.buttom {
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #8a2be2;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: 2px solid #8a2be2;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow:
    0 0 7px #8a2be2,
    0 0 42px #8a2be2;
}

.buttom:hover {
  background-color: #fff5e1;
  color: #8a2be2;
  border: 2px solid white;
  transition-duration: 1s;
  transform: scale(1.03);
  box-shadow:
    0 0 7px #fff,
    0 0 42px #8a2be2;
}

.buttom:active {
  background-color: #8a2be2;
  transform: scale(0.9);
  border: 2px solid #8a2be2;
  color: white;
}

.buttom:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.borderabout1 {
  background-color: black;
  padding-top: 20px;
}

.borderabout2 {
  border-bottom: 1px solid #fff;
  width: 324px;
  margin: auto;
}

.signs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sign {
  background-color: #8a2be2;
  height: 15px;
  width: 15px;
}

.sign1 {
  background-color: #8a2be2;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
}

.sign2 {
  background-color: #8a2be2;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.skills {
  color: white;
  text-align: center;
  background-color: black;
  padding: 100px 0;
}

.skills h3 {
  color: rgb(226, 226, 226);
  padding-top: 25px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.formularybody {
  background-image: linear-gradient(to bottom, black 0%, transparent 30%);
}

.formulary {
  text-align: center;
  padding: 100px 30px;
}

.paragraph {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 25px;
  width: 324px;
  margin: auto;
  text-shadow: 0 0 5px blue;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.form input,
.form textarea {
  display: block;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin: 10px 0;
  width: 327px;
  padding: 20px;
  color: black;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-radius: 10px;
}

.form input:hover {
  background-color: #fbf8f7;
}

.form input::placeholder {
  color: #979493;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form textarea::placeholder {
  color: rgba(0, 0, 0, 0.829);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form textarea {
  background-color: #fbf8f7;
  border: none;
  margin-bottom: 25px;
  height: 114px;
  width: 327px;
  padding: 20px 10px;
}

.finalbuttom {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  gap: 10px;
  background-color: #8a2be2;
  color: white;
  border-radius: 5px;
  border: 2px solid #8a2be2;
  box-shadow:
    0 0 4px #ffffff74,
    0 0 14px #ffffff74,
    0 0 24px #8a2be2,
    0 0 40px #8a2be2;
}

.finalbuttom:hover,
.finalbuttom:focus {
  background-color: #fff5e1;
  color: #8a2be2;
  transition-duration: 1s;
  border: 2px solid #fff5e1;
  transform: scale(1.03);
}

.finalbuttom:active {
  background-color: #8a2be2;
  transform: scale(0.9);
  border: 2px solid #8a2be2;
  color: white;
}

.finalbuttom:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

footer {
  text-align: center;
  background-color: white;
}

.footer {
  padding-top: 25px;
  height: 72px;
  border-top: 1px solid rgb(180, 180, 180);
}

.footer a {
  padding: 10px;
}

.menupartdesktop li:hover {
  border-bottom: 1px solid white;
  color: white;
  transform: scale(1.05);
}

.icons a:hover {
  transform: scale(1.5);
  box-shadow:
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #3cb9fc,
    0 0 82px #3cb9fc;
}

.footer img:hover {
  transform: rotate(360deg);
}

ul {
  list-style-type: none;
}

.sign:hover {
  border-radius: 50%;
}

.sign1:hover {
  transform: rotate(90deg);
}

.sign2:hover {
  border-radius: 0;
}

.ulabout li h3:hover {
  color: #8a2be2;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #3cb9fc,
    0 0 82px #3cb9fc,
    0 0 92px #3cb9fc,
    0 0 102px #3cb9fc,
    0 0 151px #3cb9fc;
}

.neonText2 {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 42px #3cb9fc;
}

/* MEDIA QUERIES */
@media all and (min-width: 1000px) {
  .menu {
    width: 300px;
    height: 40px;
    border-radius: 8px;
  }

  .menupartlogo {
    display: none;
  }

  .menupartdesktop {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }

  .headline {
    padding: 0;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
    background-position: 400% 50%;
  }

  .headlineitems {
    /* background-color: yellow; */

    display: grid;
    grid-template-columns: auto auto;
    height: 600px;
    align-content: center;
    justify-content: flex-start;
    margin: auto;
    width: 700px;
  }

  .headlinetexts {
    /* background-color: green; */

    padding: 100px 0;
    order: 2;
    height: 600px;
    width: 100%;
    margin: auto;
  }

  .icons {
    /* background-color: red; */

    order: 1;
    height: 312px;
    width: auto;
    margin-top: 180px;
    margin-right: 50px;
  }

  .icons a {
    display: block;
    margin: auto;
  }

  .subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .headlinetexts p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .worksstart {
    /* background-color: blue; */

    flex-direction: row;
    padding-top: 120px;
    text-align: left;
    width: 700px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .workstitle {
    width: 330px;
  }

  .worksstart .border {
    height: 30px;
    width: 400px;
  }

  .firstprojectpicture {
    background-color: black;
    background-image: url(images/neonpicturefirstproject.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    min-width: 327px;
  }

  .worksprojects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    padding: 0 75px;
    padding-bottom: 150px;
  }

  .workssectionbody {
    padding-bottom: 150px;
  }

  .firstproject {
    /* background-color: orange; */

    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 25px;
    margin: auto;
    width: 700px;
    padding-left: 0;
    padding-right: 0;
  }

  .aboutmestuff {
    /* background-color: green; */

    width: 700px;
  }

  .aboutme {
    background-position: 200% 50%;
  }

  .aboutme p {
    width: 566px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .borderabout2 {
    width: 700px;
  }

  .aboutmeskills {
    /* background-color: red; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: flex-start;
    padding: 0;
    gap: 50px;
    width: 700px;
    margin: auto;
  }

  .aboutmeskills ul {
    text-align: left;
  }

  .formulary {
    /* background-color: blue; */

    display: flex;
    justify-content: center;
    margin: auto;
    width: 700px;
  }

  .form {
    align-items: flex-start;
    margin-top: 45px;
  }

  .paragraph {
    width: 330px;
    text-align: left;
  }

  .finalbuttom {
    margin: auto;
    text-align: center;
  }

  .divisor {
    width: 650px;
  }
}

@media all and (min-width: 1200px) {
  .headlinetitle {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    width: 450px;
    margin: 0;
  }

  .headlineitems {
    /* background-color: yellow; */

    display: grid;
    grid-template-columns: auto auto;
    height: 600px;
    align-content: center;
    justify-content: flex-start;
    margin: auto;
    width: 1030px;
  }

  .subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    width: 550px;
    margin-top: 50px;
  }

  .worksstart {
    /* background-color: purple; */

    width: 1030px;
  }

  .worksstart .border {
    width: 700px;
  }

  .worksprojects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  .headline {
    background-color: black;
    background-image: url(images/pexels-photo-2091399.webp);
    background-repeat: no-repeat;
    background-position: 300% 50%;
    background-blend-mode: normal;
  }

  .headlinetexts p {
    width: 550px;
  }

  .firstproject {
    /* background-color: green; */

    width: 1030px;
    padding-bottom: 20px;
  }

  .firstprojectpicture {
    background-color: black;
    background-image: url(images/neonpicturefirstproject.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    height: 448px;
    min-width: 684px;
    border-radius: 5px;
  }

  .firstprojectpicture:hover {
    transform: scale(1.01);
  }

  .aboutme {
    background-color: black;
    background-image: url(images/pexels-sebastiaan-stam-1482480.jpg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 125% 50%;
    background-blend-mode: normal;
  }

  .aboutmeskills {
    /* background-color: blue; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: flex-start;
    padding: 0;
    width: 1030px;
    margin: auto;
  }

  .aboutmestuff {
    /* background-color: blue; */

    width: 1030px;
  }

  .aboutmestuff p {
    width: 500px;
  }

  .borderabout2 {
    width: 1030px;
  }

  .divisor {
    width: 1100px;
  }

  .form {
    margin-top: 100px;
    margin-right: 100px;
  }

  .paragraph {
    width: 455px;
    height: 256px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .formulary {
    /* background-color: yellow; */

    width: 1030px;
  }

  .blind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 450px;
    width: 50px;
    height: 100px;
    background-color: rgb(56, 56, 56);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid lightblue;
    border-left: none;
    color: white;
    font-family: roboto, sans-serif;
    font-weight: bolder;
    box-shadow:
    0 0 7px #fff,
    0 0 42px #3cb9fc;
  }

}

